<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>{{messageT}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (tap)="cancel()" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="please-connect_">
    <p>Cargando Mapa...</p>
  </div>
  <div id="map_">
    <ion-spinner class="align-spinner"></ion-spinner>
  </div>
</ion-content>
<ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="minimumHeight" [dockedHeight]="dockedHeight"
    [shouldBounce]="shouldBounce" [distanceTop]="distanceTop" >
    <ion-button class="btn-icon" expand="block" fill="clear" color="dark" (tap)="minimize()" (click)="minimize()">
      <ion-icon class="drawer-icon" name="remove-outline" ></ion-icon>
    </ion-button>
    <ion-content class="scroll-on">
      <ion-grid>
        <ion-card>
          <ion-list>
            <ion-row class="align-center">
              <ion-button fill="clear" id="image_1">
                <ion-avatar id="avatar_img">
                  <img src="{{imgP}}" id="image" (error)="defaultImg()" />
                </ion-avatar>
              </ion-button>          
              <ion-col class="txtC">
                <div class="txt-space_1">
                  <div><ion-text color="dark">{{txts.txtC}}</ion-text></div>
                  <div><ion-text color="dark">{{conductor}}</ion-text></div>
                </div>
                <div class="txt-space">
                  <div><ion-text color="dark">{{txts.txtM}}</ion-text></div>
                  <div><ion-text color="dark">{{employee.model}}</ion-text></div>
                </div>
                <div class="txt-space">
                  <div><ion-text color="dark">{{txts.txtP}}</ion-text></div>
                  <div><ion-text color="dark">{{employee.plates}}</ion-text></div>
                </div>
                <div class="txt-space">
                  <div><ion-text color="dark">{{txts.txtO}}</ion-text></div>
                  <div><ion-text color="dark">{{origen}}</ion-text></div>
                </div>
                <div class="txt-space">
                  <div><ion-text color="dark">{{txts.txtD}}</ion-text></div>
                  <div><ion-text color="dark">{{destino}}</ion-text></div>
                </div>
                <div class="txt-space">
                  <div><ion-text color="dark">{{txts.txtCosto}}</ion-text></div>
                  <div><ion-text color="dark">{{costo}}</ion-text></div>
                </div>
                <div class="ion-padding"></div>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-card> 
      </ion-grid>
    </ion-content>
</ion-bottom-drawer>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark" ion-fab color="success"  [disabled]="saveDisabled" (click)="whatsapp()">
    <ion-icon class="text-color" ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>

