<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="datos" novalidate>  
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" formControlName="nombre"></ion-input>        
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input type="text" formControlName="apellido" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item [disabled]="true">
        <ion-label position="floating">Email</ion-label>
        <ion-input  type="email" formControlName="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
          <ion-input  type="tel" formControlName="celular"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button  color="primary" expand="block" [disabled]="datos.invalid" (tap)="edit()" (click)="edit()">Editar</ion-button>
    </div>
  </form> 
</ion-content>
