<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="datos" (ngSubmit)="edit()" novalidate> 
    <ion-list>
      <ion-item>
        <ion-label position="floating">Contraseña Actual</ion-label>
        <ion-input type="password" formControlName="passwordOld"></ion-input>
      </ion-item>      
      <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="passwordC"></ion-input>
      </ion-item>  
    </ion-list>
    <div class="ion-padding">
      <ion-button color="primary" expand="block" [disabled]="datos.invalid">Guardar</ion-button>
    </div>     
  </form>
</ion-content>
