<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar class="text-align">
        <ion-title>CG-Drive</ion-title>
      </ion-toolbar>
      <ion-item>
        <ion-icon  slot="start" name="moon"></ion-icon>
        <ion-label>Modo oscuro</ion-label>
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="changeMod()" checked="{{darkMod}}"></ion-toggle>
      </ion-item>     
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
               {{pages.title}} 
        </ion-item>
      </ion-menu-toggle>
      </ion-list>  
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
