<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid>
        <ion-item lines="full" fill="clear" *ngFor="let travel of travels">
          <ion-avatar slot="start" class="ion-icon">
            <img src="assets/imgs/bandera.png">
          </ion-avatar>
          <ion-card class="ion-lblP">
            <ion-row justify-content-between>
              <ion-col size="12" class="txt-center"><h6><ion-text color="dark">{{txtDate}} {{travel.date}}</ion-text></h6></ion-col>
              <ion-col><p class="txt-justify"><ion-text color="dark">{{simbolo}} {{travel.cost}}</ion-text></p></ion-col>
            </ion-row>
            <ion-row justify-content-between>
              <ion-col class="ion-align-self-start"><ion-text color="dark">{{travel.model}}</ion-text></ion-col>
              <ion-col class="ion-align-self-end"><ion-text color="dark">{{travel.payment_type}}</ion-text></ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
    </ion-grid>    
</ion-content>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark" ion-fab color="success"  [disabled]="saveDisabled" (click)="whatsapp()">
    <ion-icon class="text-color" ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab>