#nameC{
    text-align:center;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    display: block;
}
#namel{
    margin-top: -20px;
    margin-left:30px;
}
#al-center{
    align-content: center;
    box-align: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
#btn-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top:-4%;
}
#img{
    padding-right: 20%;
    height: 100%;
}

#image_1{
    height:55vw; 
    width: 60vw; 
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    display: inline-block;
}
#image_1:active {
    border: 2px solid #3880ff;
    border-radius: 50%;
    height:55vw; 
    width: 60vw; 
}
#avatar_img{
    width: 100%;
    height:100%;
}
#image {
    height:55vw; 
    width: 60vw; 
}

#circle-pic{
   width:100%;
   height:100px;
   -webkit-border-radius: 35%;
}

#profilepic-border {
    position: relative;
    background: #a3a3a3;
}   