#center{
    text-align:center;
}
#bandera0{
    align-self: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: 30%;
    margin-right: 10%;
}
#bandera{
    width:  60%;
    height: 60%;
}
#efectivo{
    width:  70%;
    height: 70%;
}