    ion-list {
        margin: 0 !important;
    }
    #please-connect {
      position: absolute;
      background-color: #000;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
   
    #please-connect p {
        color: #fff;
        font-weight: bold;
        text-align: center;
        position: relative;
        font-size: 1.6em;
        top: 30%;
    }
   
    .scroll-content {
        overflow: hidden;
    }
   
    #map {
        width: 100%;
        height: 100%;
        /*display: flex;*/
        /*justify-content: center;
        align-items: center;*/
    }
    .float-l{
      float: left;
    }
    .pos-end{
      margin-top: 1.5%;
      margin-left: 70%;
    }
    .io-toolbar{
      background-color: black;
    } 
    .btn-size{
      font-size: 200%;
    }  
    .text-color{
      color: white;
    }
    .btn-next{
      padding-top: 9%;
      padding-bottom: 9%;
      padding-right: 9%;
      padding-left: 9%;
      border-radius: 10px;
    }
    .align-spinner{
      margin-left: 45%;
      margin-left: 45%;
      margin-top: 64%;
    }